.features {
    display: flex;
    gap: 40px;
    width: 100%;
}

.featureItem {
    width: 100%;
    padding: 30px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 15px -10px rgba(0, 0, 0, 0.75);
}

.featureItemTitle {
    font-size: 20px;
}

.featureContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin: 10px 0;
}

.featureMoney {
    font-size: 30px;
    font-weight: 600;
}

.featureRate {
    display: flex;
    align-items: center;
    gap: 5px;
}

.featureRate .featureIcon {
    font-size: 25px;
    color: green;
}

.featureRate .negative {
    color: red;
}

.featureSub {
    font-size: 15px;
    color: gray;
}

@media (max-width:1070px) {
    .features {
        flex-wrap: wrap;
    }
}