.topbar {
    width: 100%;
    height: 50px;
    background-color: antiquewhite;
    position: sticky;
    top: 0;
    z-index: 10;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topLeft {
    display: flex;
    align-items: center;
}

.logo {
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;
    color: darkblue;

}

.topRight {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #555;
}

.topAvatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.topAvatar img {
    height: 100%;
}

.topbarIconContainer {
    position: relative;
    cursor: pointer;
}

.topIconBadge {
    position: absolute;
    background-color: red;
    width: 15px;
    height: 15px;
    font-size: 12px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -6px;
    right: 0;
    border-radius: 100px;
}

.x-menu {
    display: none;
    font-size: 30px;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: 20px;
    transition: all 250ms ease;
    border-radius: 8px;
}

.x-menu:hover {
    background-color: #555;
    color: #fff;
}

@media (max-width:800px) {
    .x-menu {
        display: flex;
    }

    .mmenu {
        left: 0;
    }
}

@media (max-width:568px) {
    .logo {
        font-size: 20px;
    }
}