.userList {}

.userListUser {
    display: flex;
    align-items: center;
}

.userListImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}

.userListEdit {
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    color: #2a7ade;
    background-color: #ebf1fe;
    cursor: pointer;
}

.userListDelete {
    color: red;
    cursor: pointer;
}

.edit-delete {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}