.WidgetSm {
    flex: 1;
    padding: 20px;
    margin-right: 20px;
    box-shadow: 0 0 15px -10px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
}

.widgetSmTitle {
    font-size: 22px;
    font-weight: 600;
}

.WidgetSmList {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.WidgetSmListItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.WidgetSmImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.WidgetSmUser {
    display: flex;
    flex-direction: column;
}

.WidgetSmUsername {
    font-weight: 600;
}

.WidgetSmTitle {
    font-weight: 300;
}

.WidgetSmButton {
    display: flex;
    align-items: center;
    border: none;
    border-radius: 10px;
    padding: 8px 10px;
    color: #555;
    background-color: #eeeef7;
    cursor: pointer;
    transition: all 250ms ease;
}

.WidgetSmButton:hover {
    background-color: #d2d2da;
}

.WidgetSmButton .WidgetSmIcon {
    font-size: 16px;
}

@media (max-width:1040px) {
    .WidgetSm {
        margin-right: 0;
        margin-bottom: 20px;
    }
}