*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color:#7cc6fe;
}

.app {
  background-color: #252d4a;
  width: 450px;
  min-height: 200px;
  height: min-content;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.question-section {
  width: 100%;
  position: relative;
}

.question-count {
  margin-bottom: 20px;
}

.question-count span {
  font-size: 28px;
  color: #ffffff;
}

.question-text {
  margin-bottom: 12px;
  color: #ffffff;
  font-size: 20px;
}

.answer-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

button {
  width: 100%;
  font-size: 16px;
  color: #ffffff;
  background-color: #252d4a;
  border-radius: 15px;
  display: flex;
  padding: 15px;
  justify-content: flex-start;
  align-items: center;
  border: 5px solid #232323;
  cursor: pointer;
  margin-bottom: 5px;
}

button:hover {
  background-color: #5947b9;
}

button:focus {
  outline: none;
}

button.correct {
  background-color: #2f922f;
  border-color: #2f922f;
}

button.incorrect {
  background-color: #ff3333;
  border-color: #ff3333;
}

button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.score-section {
  display: flex;
  justify-content: center;
  font-size: 24px;
  align-items: center;
  color: #ffffff;
}