.user-list .userListUser {
    display: flex;
    align-items: center;
}

.user-list .userListImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}

.user-list .userListEdit {
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    color: #2a7ade;
    background-color: #ebf1fe;
    cursor: pointer;
}

.userListDelete {
    color: #919191 !important;
    cursor: pointer;
}

.edit-delete{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}