* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    /* EDIT */
    font-family: sans-serif;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.containerMain {
    padding: 10px;
    display: flex;
    margin-top: 2rem;
}

a {
    text-decoration: none;
    color: inherit;
}

.router-style {
    width: calc(100% - 250px);
}

@media (max-width:800px) {
    .router-style {
        width: 100%;
    }
}