@import "../reset/Reset.css";




.about-logo {
    width: 100px;
    opacity: 0.5;
    filter: grayscale(100);
    transition: all 250ms ease;
}

.about-logo img{
    width: 100%;
}

.about-logo:hover {
    opacity: 1;
    filter: none;
}