@import "../reset/Reset.css";

.about {
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    gap: 2rem;
    color: #333;
    overflow: hidden;
}

.about-des {
    text-align: justify;
    width: 50%;
}

.about-title {
    font-weight: 600;
    font-size: 2.5rem;
    margin-bottom: 3rem;
}

.about-text {
    font-size: 0.9rem;
}

.about-img {
    width: 50%;
}

.about-img img {
    width: 100%;
    border-radius: 8px;
}

.about-logos {
    width: 100%;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (max-width: 998px) {
    .about {
        flex-direction: column;
    }

    .about-des {
        width: 100%;
    }

    .about-text {
        text-align: center;
    }

    .about-img {
        width: 80%;
        margin: 0 auto;
    }

    .about-des {
        text-align: center;
    }
}

@media only screen and (max-width: 576px) {
    .about-logos {
        padding: 0 1rem;
    }
}

@media only screen and (max-width: 340px) {
    .about-logos {
        justify-content: center;
    }
}