@import "../reset/Reset.css";


.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.nav-logo span {
    font-size: 2rem;
    font-weight: 500;
}

.nav-menu ul {
    display: flex;
    gap: 1rem;
}

.nav-menu ul li a {
    font-weight: 500;
    padding: 0.2rem 0.4rem;
    transition: all 250ms ease
}

.nav-menu ul li a:hover {
    color: #ffc451;
}

.nav-btn button {
    outline: none;
    border: none;
    padding: 0.7rem 1.2rem;
    border-radius: 4px;
    border: 2px solid #ffc451;
    background-color: #000;
    transition: all 250ms ease;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
}

.nav-btn button:hover {
    background-color: #ffc451;
    color: #333;
}

@media only screen and (max-width: 720px) {
    .nav-menu{
        display: none;
    }
}