.widgetLg {
    flex: 1.5;
    padding: 20px;
    box-shadow: 0 0 15px -10px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
}

.widgetLgTitle {
    font-size: 22px;
    font-weight: 600;
}

.widgetLgTable {
    width: 100%;
    border-spacing: 20px;
}

.widgetLgTh {
    text-align: left;
}

.widgetLgUser {
    display: flex;
    align-items: center;
    gap: 10px;
}

.widgetLgImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.widgetLgDate {
    font-weight: 300;
}

.widgetLgAmount {
    font-weight: 300;
}

.widgetLgButton {
    padding: 5px 7px;
    border: none;
    border-radius: 10px;
}

.widgetLgButton.Approved {
    color: #3bb077;
    background-color: #e5faf2;
}

.widgetLgButton.Declined {
    color: #d95087;
    background-color: #fff0f1;
}

.widgetLgButton.Pending {
    color: #2a7ade;
    background-color: #ebf1fe;
}

@media (max-width:480px) {
    .widgetLgTh-status {
        display: none;
    }
}